<configuration>

	<!-- Configuration for Logback before bootstrap has beend done -->

	<appender name="stdout" class="de.invesdwin.context.log.logback.ConfiguredConsoleAppender">
		<Target>System.out</Target>
	</appender>

	<logger name="AspectJ Weaver" additivity="false" level="ERROR">
		<appender-ref ref="stdout" />
	</logger>
	
	<logger name="de.invesdwin" additivity="false" level="INFO">
		<appender-ref ref="stdout" />
	</logger>

	<root level="WARN">
		<appender-ref ref="stdout" />
	</root>

</configuration>